@import '../../scss/component';
.Wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  position: relative;
}

.ButtonSettings {
  position: absolute;
  right: 15vw;
  top: 20%;
  padding: .75rem;
  color: black;
  background-color: #fafafa;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #ffffff;
    color: rgba(purple,.7);
  }
}